<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>

        var send;
        var log;
        var msg;
        var client =new Object()
        var divChat
        var divInfor
        var btCreateAccount
        var btLogin
        var divNotification
        $(document).ready(function () {
            // declare variables global
            send=$('#send');
            log=$('#log')
            msg=$('#msg')
            btCreateAccount=$('#btCreate')
            btLogin=$('#btLogin')

            divChat=$('.containChat')
            divInfor=$('.containInfor')
            divNotification=$('.idNotification')

            // default focus
            msg.focus()
            divChat.hide()

            // creat connect ws
            CreateConnect(client)

            // listener event
            send.on('click',function(){
                var infor=InforAccount;
                infor.Name= $('#txtAccount').val();
                infor.Password=$('#txtPass').val();

                sendMessage(infor.getAccount())
            })
            btCreateAccount.on('click',function(){
                var infor=InforAccount;
                infor.Name= $('#txtAccount').val();
                infor.Password=$('#txtPass').val();

                sendMessage(infor.getAccount())

            })
            msg.on('keypress',function(evt){
                if (evt.which == 13){
                    sendMessage(msg)
                }
            })
        });


        var InforAccount={
            Id:0,
            Name:"",
            Email:"",
            Password:"",

            getAccount:function (){

                type='{"TypeMsg":1,'
                data=' "Data":{"Id":'+ this.Id +', "Name":"'+this.Name+'","Email":"'+this.Email+'","Password":"'+this.Password+'"}}'

                return JSON.stringify(type+data)
            }
        }

        function sendMessage(msg){

            appendLog('sending...:'+ msg)
            client.conn.send(msg)
        }
        function appendNotification(msg) {
            divNotification.empty()
            divMsg=$("<div><b>"+msg+"</b></div>")
            divMsg.appendTo(divNotification)
        }
        function appendLog(msg) {
                divMsg=$("<div><b>"+msg+"</b></div>")
                var d = log[0]
                var doScroll = d.scrollTop == d.scrollHeight - d.clientHeight;
                divMsg.prependTo(log)
                if (doScroll) {
                    d.scrollTop = d.scrollHeight - d.clientHeight;
                }
            }
        function CreateConnect(client){
             if ("WebSocket" in window){

                appendLog('Websocket is supported bu your browser:')
                client.conn=new WebSocket("ws://127.0.0.1:9090/ws");
                client.conn.onopen=function(){
                    appendLog('sending...:Make to connect')
                    //sendMessage("Connect the first.")
                }
                client.conn.onclose=function(evt){
                    appendLog('closed...:'+evt.data)
                }

                client.conn.onmessage=function(evt){

                    var receive_mg=JSON.parse(evt.data);

                    switch (receive_mg.TypeMsg ){
                        case 0:
                            appendNotification(receive_mg.Notification)
                            break;
                        case 1:
                            if (receive_mg.Notification==""){
                                divInfor.hide()
                                divChat.show()
                                msg.focus()
                            }
                            break;
                        case 2:
                            break;
                        case 3:
                            appendLog('received...:'+receive_mg.Notification)
                            break;
                    }
                }

            }else{
                alert("Websocket isn't supported by your browser")
            }
        }



    </script>
    <style type="text/css">
        body {
            overflow: hidden;
            padding: 5px;
            margin: 0;
            width: 100%;
            height: 100%;
            background: gray;
        }
        .containlogin{

        }
        .containchat{

        }
        #log{
            overflow:hidden;
            background-color:white
        }
        input[type="text"]{
            font-size:18px
        }
        input[type="password"]{
            font-size:18px
        }
        input[type="button"]{
            font-size:16px
        }









    </style>
</head>
<body>

<div class="containInfor">
    <div>
        <div>
            <input type="text" placeholder="Enter Account " id="txtAccount"/>
        </div>
        <div>
            <input type="password" placeholder="Enter Pass" id="txtPass"/>
        </div>
    </div>
    <div css="">
        <input type="button" value="Create Account" id="btCreate">
        <input type="button" value="Login" id="btLogin">
    </div>
</div>

<div class="containChat">
    <div id="body">
        <input type="button" id="send" value="Send"> </input>
        <input type="text" id="msg"> </input>
    </div>
    <div id="log"></div>
</div>
<div id="idNotification"></div>
</body>
</html>